.review-container {height:70vw;text-align:center;padding-top:10vw;background:#f8f8f8}
.review-text {font-size:4vw}
.rectangle {
    margin:5vw;
    width:30vw;
    height:25vw;
    padding:3vw 4vw 6vw 4vw;
    background: url('/images/review_box.png') no-repeat;
    background-size: 100%;
    background-position: right;
}
.avatar {
    width:6vw;
    height:6vw;
    border-radius: 50%;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#d8d8d8;
}
.avatar img{
    width:4vw;
    height:4vw;
    margin:auto;
}
.user {font-size:2vw;margin: 1vw 0;}
.review-division {height:0.5vw;width:90%;background:#d8d8d8;margin:auto}
.review-sub-text {font-size:2vw;width:85%;margin:auto;margin-top:2vw;height:13.5vw;}
.multi-line-ellipsis {
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; 
    word-wrap:break-word;
}
.rectangle-container {
    margin-right: 2vw;
    margin-bottom: 2vw;
}