/**** section common ****/
.section-container {height:60vw;display:flex;justify-content:center;align-items:center;}
.section-bg-color {background:#f8f8f8}
.section-header-text {font-size:4.5vw;font-family:"SDNemony2dBasicBd";}
.section-sub-text {font-size:2.5vw;margin-top:2vw}

/**** section3 ****/
.section3-sub-text {font-size:2vw;}
.section3-sub-text ol {padding-left:2.5vw !important; line-height: 2.5vw;}
.section3-sub-container {height:40vw;width:80%;margin:auto;margin-top:5vw;}
.bottom-text {text-align:end;margin-right:15vw;}
.bottom-text div {font-size:2vw;border:0.1vw solid grey;padding:0.1vw 1vw; border-radius:0.2vw;display:inline-block}
.bgImage img{position:absolute;right:0;width:70vw;height:45vw;opacity:0.2;margin-top: -5vw;}
.division {height:0.1vw;background:#c1c1c1;width:80%;margin:auto;}

/**** number-money ****/
.number-money .container {display:block;height:15vw;}
.number-money .bg-common {position:relative;height:15vw;margin-top:-0.5vw;border-radius:0 0 5vw 5vw;margin:auto;}
.number-money .bg1 {background-color:#254129;width:75%;right:1vw;}
.number-money .bg2 {background-color:#4c8453;width:70%;left:2.5vw;top:-15vw;}
.number-money .text {display:flex;justify-content:space-around;font-size:2vw;}
.number-money .text div {color:white;margin:3vw 0 1vw 0;}
.number-money .division {height:0.3vw;background-color:white;width:90%;margin:auto}
.number-money .number {display:flex;justify-content:space-around;font-size:3vw;}
.number-money .number div {color:white;margin-top:1vw;}
